doctype html
html
    head
        title Modern Chat
        if useExternalStyles
            link(rel="stylesheet", href="/build/application.css")
            
    body
        .site-wrap
            
            .column.left
            
            .column.center
            
            .column.right
        
        script(src="/build/vendor.js")
        script(SRC="/build/application.js")