@import "../../styles/variables";

section.playlist {
    display: flex;
    flex-direction: column;
    position: relative;
    
    > h1 {
        border: none;
    }
    
    .chrome {
        overflow: hidden;
        flex-grow: 1;
		display: flex;
		position: relative;
		
		> .scroll-area {
			position: relative;
			flex-grow: 1;
			display: flex;
			flex-direction: column;
			overflow-y: scroll;
		}
    }
}


// Chrome
section.playlist .playing-indicator {
	z-index: 200;
	position: absolute;
	width: 10px;
	height: 10px;
	background: #FFB000;
	right: -6px;
	margin-top: 5px;
	top: 0;
	pointer-events: none;
	border-radius: 50px;
}


// Toolbar
html.not-logged-in section.playlist .toolbar {
	display: none;
}

section.playlist .toolbar {
	padding-bottom: 5px;
	background: $border-panel;
	flex-grow: 0;
	flex-shrink: 0;
	border-bottom: 2px solid darken($background, 5%);
	
	a {
		display: inline-block;
		font-size: 10pt;
		text-decoration: none;
		padding: 2px 5px;
		color: lighten($color-information, 10%);
		border: darken($background, 20%);
		
		&:hover {
			color: $color-highlight;
		}
	}
}

// Context Menu
section.playlist .context-menu {
	z-index: 201;
	left: 0;
	width: 100%;
	box-sizing: border-box;
	display: none;
	position: absolute;
	background: lighten($background-panel, 10%);
	border: 5px solid lighten($border-panel, 10%);
	
	&.open {
		display: block;
	}
	
	> a {
		padding: 5px;
		color: $color-highlight;
		text-decoration: none;
		display: flex;
		
		i {
			order: 1;
			margin-left: auto;
		}
		
		&:hover {
			background: $background-panel;
		}
		
		&.delete {
			background: darken($color-danger, 5%);
			
			&:hover {
				background: darken($color-danger, 10%);
			}
		}
	}
}

// Sorting
section.playlist .scroll-area .placeholder {
	background: lighten($border-panel, 20%);
	color: $color-highlight;
	padding: 5px;
	font-size: 8pt;
	position: absolute;
	left: 0;
	width: 100%;
	box-sizing: border-box;
	z-index: 200;
	pointer-events: none;
	display: none;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

html.sorting-playlist {
	cursor: ns-resize !important;
	
	section.playlist .scroll-area .placeholder {
		display: block;
	}
	
	section.playlist .playlist-list > li {
		cursor: ns-resize;
	}
}